.actividades-gc-image {
  width: 100%;
  height: 18rem;
  background-image: url("../assets/actividades-hero-img-sm.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-cell {
  width: 100%;
  height: 23.375rem;
  margin-right: 1rem;
}

.gallery-gc {
  margin-bottom: 4rem !important;
}

@media screen and (min-width: 768px) {
  .actividades-gc-image {
    background-image: url("../assets/actividades-hero-img-md.jpg");
    height: 25rem;
  }

  .carousel-cell {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .actividades-gc-image {
    background-image: url("../assets/actividades-hero-img-lg.jpg");
    height: 30rem;
  }

  .carousel-cell {
    width: 40%;
  }

  .gallery-gc {
    margin-bottom: 7rem !important;
  }
}

@media screen and (min-width: 1200px) {
  .actividades-gc-image {
    height: 35rjpg;
  }
}
