:root {
  --primary-color: #71bf44;
  --secondary-color: #0f75bc;
  --terciary-color: #1e1e1e;
}

.button-gc-primary {
  background-color: var(--primary-color) !important;
  border: none !important;
}

.button-gc-secondary {
  background-color: var(--secondary-color) !important;
  border: none !important;
}

.button-gc-primary:hover,
.button-gc-secondary:hover {
  background-color: var(--terciary-color) !important;
}
