.proyecto-gc-image {
  width: 100%;
  height: 18rem;
  background-image: url("../assets/proyecto-hero-img-sm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.proyecto-gc-card {
  background-color: var(--primary-color) !important;
  border: none !important;
}

.proyecto-gc-card p {
  font-size: 1.125rem !important;
}

@media screen and (min-width: 768px) {
  .proyecto-gc-image {
    background-image: url("../assets/proyecto-hero-img-md.png");
    height: 25rem;
  }

  .proyecto-gc-card p {
    font-size: 1.25rem !important;
  }
}

@media screen and (min-width: 992px) {
  .proyecto-gc-image {
    background-image: url("../assets/proyecto-hero-img-lg.png");
    height: 30rem;
  }

  .proyecto-gc-card p {
    font-size: 1.5rem !important;
  }
}

@media screen and (min-width: 1200px) {
  .proyecto-gc-image {
    height: 35rem;
  }

  .proyecto-gc-card p {
    font-size: 2rem !important;
  }
}
